.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:hover, a:hover {
  opacity: 0.7;
}

.bod {
  background-color: #F4F2EE;
}

.head {
  font-family: 'Vidaloka', serif;
  color: #333333;
}

p, ul, a {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

.row {
  display: flex;
  height: 0%;
}

.analysis_head{
  margin-left: 80px;
  font-family: 'Vidaloka', serif;
  color: #333333;
}

.column {
  flex: 100%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 100%;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  .row.content {
    height: 2200px
    
  }
  
  .sidenav {
    padding-top: 20px;
    background-color: #F4F2EE;
    height: 100%;
  }
  
  #main_div {
    margin-bottom: calc(100vh - 100vw)
  }

  footer {
    background-color: #3D3533;
    color: white;
    margin-top: -0.5em;
    padding: 2em;
    position: fixed; 
    left: 50%;
    transform:translateX(-50%);
    bottom: 0;
    text-align: center;
  }
  
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
      width: 300px;
    }
    .row.content {height:auto;} 
  }

  @media screen and (min-width: 767px) {
    div.left_col {
      float: left;
      width: 50%;
    }
  
    div.right_col {
      float: right;
      width: 50%;
    }
  }
  .middle_content {
    text-align: left;
    margin-left: 20vw;
    margin-right: 20vw;
    font-family: 'Montserrat', sans-serif;
  }
#Top_misinfo_subreddits, #Top_misinfo_categories, #subreddits_upvote, #Top_misinfo_users, #Top_misinfo_domains {
    height: calc(20vh + 5vw);
  }

  object {
    /* width: calc(54vw);
    height: calc(90vh); */
    width: 60%;
    height: calc(90vh);
    margin-left: 20%;
  }
